@{ Layout = "~/Views/Shared/_rootLayout.cshtml"; }


@Html.Partial("~/Views/Shared/_bootstrapLayout.cshtml")
<div class="login">
    <!-- BEGIN LOGO -->
    <div class="logo">
        <img src="@Url.Content("~/Content/assets/img/logo-big.png")" alt="" />
    </div>
    @RenderBody()
    <div class="copyright">
        @DateTime.Now.Year &copy;  @UIResource.WebTool
    </div>

</div>

@RenderSection("scripts", false)