@{ Layout = "~/Views/Account/LogOn/_loginLayout.cshtml"; }

@using System.Web.Optimization
@using Utilities
@model WebToolService.RegisterModel

<div ng-controller="M.registerController as register" class="content">
    <!-- BEGIN LOGIN FORM -->
    <form id="FormRegister" class="form-vertical login-form" action="@Url.Content("~/Register/Index")" method="POST">
        <h3 class="form-title">
            @UIResource.Register
        </h3>
        <div class="control-group">
            <div class="controls">
                <div class="input-icon left">
                    <i class="icon-user"></i>
                    <input name="UserName" class="m-wrap" type="text" placeholder="@UIResource.Username" value="@Model.UserName"/>
                </div>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <div class="input-icon left">
                    <i class="icon-lock"></i>
                    <input name="Password" class="m-wrap" type="password" style="" placeholder="@UIResource.Password"/>
                </div>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <div class="input-icon left">
                    <i class="icon-lock"></i>
                    <input id="FormRegister_ConfirmPassword" ng-keyup="register.formRegister_Password_keyup($event)" name="ConfirmPassword" class="m-wrap" type="password" style="" placeholder="@UIResource.ConfirmPassword"/>
                </div>
            </div>
        </div>
        <div class="form-actions">
            <a ng-click="register.submit()" type="submit" id="login-btn" class="btn green pull-right">
                @UIResource.Register <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </form>
    @Html.Partial("_ValidationSummary", ViewData.ModelState)

    <!-- END LOGIN FORM -->
</div>

@section scripts
{
    @Scripts.Render("~/Content/Register")
}

