@using System.Web.Optimization
@{ Layout = "~/Views/Shared/_rootLayout.cshtml"; }
<div class="fixed-top">
    <!-- BEGIN HEADER -->
    @Html.Action("Index", "IndexHead")
    @Html.Partial("~/Views/Shared/_bootstrapLayout.cshtml")
    <!-- END HEADER -->

    <div id="Loading" class="dataTables_processing" style="visibility: hidden;"><i class="fa fa-coffee"></i>&nbsp;Please wait...</div>
    <!-- BEGIN CONTAINER -->
    <div class="page-container row-fluid">
        <!-- BEGIN SIDEBAR -->
        @Html.Partial("~/Views/Sidebar/Sidebar.cshtml")
        <!-- END SIDEBAR -->
        <!-- BEGIN PAGE -->
        <div class="page-content">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
        <!-- END PAGE -->
    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    @Scripts.Render("~/Content/Head")
    @Html.Partial("~/Views/Head/Footer.cshtml")
    <!-- END FOOTER -->
</div>
