@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    @Html.Partial("~/Views/Shared/JS/PageStart.cshtml")

    @Html.Partial("~/Views/Shared/JS/BackendResource.cshtml")

    @*    @Html.Partial("~/Views/Shared/JS/AntiForgeryToken.cshtml")*@
    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")" />
    @Styles.Render("~/Content/AllCSS")
</head>
<body ng-app="mainApp">
    @RenderBody()
</body>

@Html.Partial("~/Views/Shared/JS/PageEnd.cshtml")
</html>
